/*
css landing page booki


*/

/* mode ecran ORDINATEUR par défaut >= 992px */

body {
	font-family: 'Raleway', sans-serif;
	width : 100%;
	margin: 30px 30px 0 30px;

	max-width: 1450px;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	width : 100%;
}

nav {
	height : 100%;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li a {
	font-size: 20px;
	font-weight: 700;
}

.activelink {
	border-top: 3px solid #F2F2F2;
	color: inherit;	
}

.activelink:hover,
.selectlink {
	border-top: 3px solid #0065FC;	
	color: #0065FC;    
}

.link {
	padding: 45px 30px 0 30px;
	text-decoration: none;
    border-bottom: none;
}


/* conteneur de la landing Page */
main {
	margin-bottom:10%;
}

main section h1 {
	font-weight: bolder;
}


/* bar de recherche */
.Iconmap {
    background-color: #F2F2F2;
    padding: 14.4px 18.4px;
    border-radius: 16px 0 0 16px;
    text-align: center;
    justify-content: center;
    color: black;

}

.champ-recherche {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    height: 45px;
    width: 250px;
    font-size: 1rem;
    font-weight: bold;
}

.bouton-recherche {
    padding: 11px 15px 11px 15px;
    border: none;
    background-color: #0065FC;
    border-radius: 0 16px 16px 0;
    color: #DEEBFF;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.bouton-recherche p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.bouton-recherche:hover {
	background-color: #77adff;
}

/* switch de l'intitulé recherche */
.masque-recherche-loupe {
	display: none;
}

.masque-recherche {
	display: block;
}

/* bar de filtre */
#bar-filtre {
    display: flex;
	flex-wrap: wrap;
    margin-top: 30px;
	font-weight: bold;
	align-items:baseline;
    
}

#bar-filtre ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 20px;
}

#bar-filtre ul li {
	display: flex;
	
    align-items: center;
    margin-right: 30px;
    border: 2px solid #f3f8ff;
    border-radius: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-weight: bold;
}

#bar-filtre ul li:hover {
	background-color: #f3f8ff;
    transform: scale(1.015);
}

#bar-filtre ul li span {
	background-color: #DEEBFF;
    border-radius: 100%;
    height: 59px;
    width: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    font-size: 20px;
}

#bar-filtre ul li h3 {
	padding-left: 10px;
    padding-right: 20px;
}

.align-standard-center {
	align-items: center;
}

.typo-filtre {
    font-size: 19px;
    font-weight: bold;
}

    
/* bar d'information */
#bar-information {
	display: flex;
	align-items: center;
}

.icon-info {
	height: 32px;
    width: 32px;
    min-height: 32px;
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

/* listing herbergement */
#listing-herbergement {
	display: flex;
}

#listing-herbergement h2 {
	font-size: 23px;
	font-weight:bold;
}

#listing-herbergement dt {
	font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 0.15px;
}

.marge-gauche-herbegement {
	margin-left: 10px;
}

.star {
    color: #0065FC;
    padding-top: 6.5px;
}

/* hebergement marseille */
#herbergement-marseille {
	height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px 44px 13px 30px;
}

#herbergement-marseille div {
	display: flex;
	flex-wrap: wrap;
}

.article-hebergement {
	margin: 5px 5px 5px;
	padding: 5px;
	width: 202px;
    height: 217px;
    border: 1px solid #DEEBFF;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    background-color: white;
}

.article-hebergement img {
	height: 134px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.image-hebergement {
	margin: 0px;
}

.plus-hebergement {
	outline: none;
	text-decoration: none;
}

/*hebergement populaire */
#hebergement-populaires {
	background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    padding-left: 43px;
    padding-right: 30px;
    margin-left: 48px;
}

#hebergement-populaires h2 {
	display: flex;
	justify-content: space-between;
	width : 100%;
}

.article-populaire {
	display: flex;
	justify-content: flex-start;
	border: 1px solid #DEEBFF;
	padding: 5px;
	height: 152px;
    width: 368px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    background-color: white;
}

.article-populaire img {
	height: 152px;
    width: 144px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.article-populaire {
	display: flex;	
}

.image-populaire {
	margin:0px 5px 0px 0px;
}

.marge-populaire {
	margin:0px;
}

.marge-stars {
	margin-top:28%;
}

.description-populaire {
	margin:10px;
}

/* Activités marseille */
.titre-marseille {
	margin-top:4%;
}

#listing-activites div {
	display:flex;
}

.bloc-articles-activites {
	display:flex;
}

.image-portrait-activites {
	width:310px;
	height: 432px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.image-paysage-activites {
	width:310px;
	height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.disposition-images-activites {
	display:flex;
	flex-direction:column;
}

#listing-activites dt {
	font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top:5px;
	padding-left:10px;
}

#listing-activites dl {
	margin-right: 30px;
	border-radius: 20px;
	box-shadow: 0 0 16px #0000002e;
}

#listing-activites dd {
	margin-left: 0px;
}

/* switch du bloc activités à marseille */
.mode-display {
	display: block;
}

#listing-activites dl:hover,
.article-populaire:hover,
.article-hebergement:hover {
	transform: scale(1.02);
}

/* footer */
footer {
	display: flex;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 32px;
    width: auto
	
}

footer ul {
	margin-right:20%;
	margin-left:0px;
	padding-left:0px;
	list-style: none;
}

/* mode ecran TABLETTE  > 768px < 992px */
@media screen and (min-width:768px) and (max-width:992px) {

	/*mise en page du listing hebergement */
	#listing-herbergement {
		display: flex;
		flex-direction: column;
	}
	
	/*changement de l'ordre d'affichage */
	#hebergement-populaires {
		order:0;
	}

	#herbergement-marseille {
		order:1;
	}

	/* disposition populaire */
	#hebergement-populaires {
		border-radius: 0px;
		margin-left: 10px;
		margin-bottom: 5%;
	}

	.article-populaire {
		padding: 5px;
		height: 152px;
		width: 100%;
	}

	/* disposition hebergement à marseille */
	#herbergement-marseille {
		background-color: #ffffff;
		margin-bottom: 5%;
	}

	.article-hebergement {
		margin: 5px 5px 10px;
		width: 368px;
	}

	footer {
		display: flex;
		flex-direction: column;
	}

	/* switch du bloc activités à marseille */
	.mode-display {
		display: none;
	}
}

/* mode ecran MOBILE  < 768px */
@media screen and (max-width:768px) {

	/* mise en page général */
	body {
		margin: 10px 10px 0 10px;
	}
	
	/* mise en page du header */
	header {
		display: flex;
		flex-direction: column;
	}

	header nav {
		display: flex;
		justify-content: center;
	}
	header nav ul {
		padding-left: 0px;
		width: 100%;
	}
	
	header img {
		width:191px;
		object-fit:cover;
	}
	
	.activelink {
		border-top: none;
		border-bottom: 3px solid #F2F2F2;
		color: inherit;	
	}

	.activelink:hover,
	.selectlink {
		border-top: none;
		border-bottom: 3px solid #0065FC;	
		color: #0065FC;    
	}

	/* switch de l'intituler recherche */
	.masque-recherche-loupe {
		display: block;
	}

	.masque-recherche {
		display:none;
	}
	
	/*mise en page du listing hebergement */
	#listing-herbergement {
		display: flex;
		flex-direction: column;
	}
	
	/*changement de l'ordre d'affichage */
	#hebergement-populaires {
		order:0;
	}

	#herbergement-marseille {
		order:1;
	}

	/* disposition populaire */
	#hebergement-populaires {
		border-radius: 0px;
		margin-left: 10px;
		margin-bottom: 5%;
	}

	/* disposition hebergement à marseille */
	#herbergement-marseille {
		background-color: #ffffff;
		margin-bottom: 5%;
	}

	.article-hebergement {
		margin: 5px 5px 10px;
		width: 368px;
	}

	/* switch du bloc activités à marseille */
	.mode-display {
		display: none;
	}

	footer {
		display: flex;
		flex-direction: column;
	}

}

  

